<h1>Actors</h1>

<ul>
  <% @actors.each do |actor|%>
    <li><a href= "/actors/<%= actor["id"]%>"><%= actor["name"]%></a></li>
  <% end %>
</ul>

<br>
<div>
  <% if !on_first_page?(@page_num) %>
    <a href="/actors?page=<%= @page_num - 1 %>">Previous</a>
  <% end %>
  <% if on_last_page_actors?(@page_num) %>
    <a href="/actors?page=<%= @page_num + 1 %>">Next</a>
  <% end %>
</div>

<br>
<a href="/movies" class = "back_button">To Movies</a>
