<h1>Actors</h1>

<ul>
  <% @actors.each do |actor|%>
    <li><a href= "/actors/<%= actor["id"]%>"><%= actor["name"]%></a></li>
  <% end %>
</ul>

<br>
<a href="/actors?page=<%= @page_num - 1 %>" class = "paginate_button">Previous Page </a><a href="/actors?page=<%= @page_num + 1 %>" class = "paginate_button">Next Page</a>

<br>
<a href="/movies" class = "back_button">To Movies</a>
